<!-- Footer 2 - Bootstrap Brain Component -->
<footer class="footer">

    <!-- Widgets - Bootstrap Brain Component -->
    <section >
        <div class="container_part_1">
            <div class="row gy-2 gy-lg-0 justify-content-xl-between">
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="widget">
                        <a href="#!">
                            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="BootstrapBrain Logo" width="210" height="210">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="widget">
                        <h3 class="widget-title mb-4 text-gold">Ponte en contacto</h3>
                        <a class="mb-4 text-gold" href="https://maps.app.goo.gl/rjc2PyfkbsP3Jo2Z7">C. Reforma, Centro, 92060 Tempoal de Sánchez, Ver.</a>
                        <p class="mb-1">
                            <a class="link-gold text-decoration-none" href="tel:+527891119995">(+52) 789-111-9995</a>
                        </p>
                        <p class="mb-0">
                            <a class="link-gold text-decoration-none" href="mailto:mazuara839@gmail.com">mazuara839@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-xl-4">
                    <div class="widget">
                        <h3 class="widget-title mb-4 text-gold">Mantente actualizado</h3>
                        <p class="mb-4 text-gold">Suscribete para nuevas actualizaciones.</p>
                        <form action="#!">
                            <div class="row gy-4">
                                <div class="col-12">
                                    <div class="input-group">
                                        
                                        <input type="email" class="input-stand" id="email-newsletter" value=""
                                        style="padding-top: 0;
                                               padding-bottom: 0;"
                                            placeholder="Ingresa tu correo" aria-label="email-newsletter" aria-describedby="email-newsletter-addon" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn-suscribir" type="submit">Suscribir</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright - Bootstrap Brain Component -->

    <div>
        <div class="py-4 py-md-5 py-xl-8 border-top border-light-subtle">
            <div class="container overflow-hidden" style="margin-top: 0;">
                <div class="row gy-4 gy-md-0">
                    <div class="col-xs-12 col-md-7 order-1 order-md-0">
                        <div class="copyright text-center text-md-start text-gold">
                            <p>&copy; 2023 Gearbox. Publicado y distribuido por 2K. Gearbox, Borderlands y los logotipos de Gearbox Software y Borderlands son marcas comerciales o marcas comerciales registradas utilizadas por cortesía de Gearbox Software, LLC. 2K y el logotipo de 2K son marcas comerciales de Take-Two Interactive Software, Inc. Todos los derechos reservados. El icono de clasificación ESRB es una marca comercial de Entertainment Software Association. Todas las demás marcas son propiedad de sus respectivos dueños.</p>
                            
                        </div>
                        <div class="credits text-gold text-center text-md-start mt-2 fs-7">
                            Creado por <a href="https://portafoliowebmarioivan.000webhostapp.com"
                                class="link-gold text-decoration-none">Mario Iván Azuara Del Angel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
